/*--------------------------------------------------------------
TABLE OF CONTENT
----------------------------------------------------------------
1.0 FOUNDATION
|  1.1 BASE
|  1.2 TYPOGRAPHY
|  1.3 LAYOUT
2.0 HEADER
3.0 MAIN
|  3.1 NOTE
4.0 FOOTER
5.0 MEDIA
|  5.1 360PX
|  5.2 768PX
|  5.3 1024PX
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 FOUNDATION
--------------------------------------------------------------*/

:root { --typography-h1: 1.25rem; }

/*--------------------------------------------------------------
|
| 1.1 BASE
|
--------------------------------------------------------------*/

html,
body { height: 100%; }

body { position: relative; }

/*--------------------------------------------------------------
|
| 1.2 TYPOGRAPHY
|
--------------------------------------------------------------*/

h1 {
  font-size: var(--typography-h1);
  line-height: 1.125;
  margin-bottom: 0;
  margin-top: 0;
}

/*--------------------------------------------------------------
|
| 1.3 LAYOUT
|
--------------------------------------------------------------*/

header,
main,
footer {
  left: var(--container);
  position: absolute;
  right: var(--container);
}

/*--------------------------------------------------------------
2.0 HEADER
--------------------------------------------------------------*/

header { top: var(--container); }

/*--------------------------------------------------------------
3.0 MAIN
--------------------------------------------------------------*/

main {
  grid-gap: .75rem;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

/*--------------------------------------------------------------
|
| 3.1 NOTE
|
--------------------------------------------------------------*/

.note { line-height: 1; }

/*--------------------------------------------------------------
4.0 FOOTER
--------------------------------------------------------------*/

footer { bottom: var(--container); }

/*--------------------------------------------------------------
5.0 MEDIA
--------------------------------------------------------------*/

/*--------------------------------------------------------------
|
| 5.1 360PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 22.5rem) {
  
  :root { --typography-h1: 1.406rem; }
  
  main {
    margin-left: auto;
    margin-right: auto;
    max-width: 20.4375rem;
  }
  
}

/*--------------------------------------------------------------
|
| 5.2 768PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 48rem) {
  
  main { grid-gap: 1rem; }
  
}

/*--------------------------------------------------------------
|
| 5.3 1024PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 64rem) {
  
  :root { --typography-h1: 1.563rem; }
  
  main { max-width: 22.5rem; }
  
}