/*--------------------------------------------------------------
TABLE OF CONTENT
----------------------------------------------------------------
1.0 FOUNDATION
|  1.1 BASE
2.0 MAIN
|  2.1 NOTE
3.0 MEDIA
|  3.1 360PX
|  3.2 768PX
|  3.3 1024PX
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 FOUNDATION
--------------------------------------------------------------*/

:root { --typography-h1: 1.25rem; }

/*--------------------------------------------------------------
|
| 1.1 BASE
|
--------------------------------------------------------------*/

body {
  align-items: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  max-height: 100vh;
  max-height: calc(var(--vh, 1vh) * 100);
}

/*--------------------------------------------------------------
|
| 1.2 TYPOGRAPHY
|
--------------------------------------------------------------*/

h1 {
  font-size: var(--typography-h1);
  line-height: 1.125;
  margin-bottom: 0;
  margin-top: 0;
}

/*--------------------------------------------------------------
2.0 MAIN
--------------------------------------------------------------*/

main {
  grid-gap: .75rem;
  text-align: center;
}

/*--------------------------------------------------------------
|
| 2.1 NOTE
|
--------------------------------------------------------------*/

.note { line-height: 1; }

/*--------------------------------------------------------------
3.0 MEDIA
--------------------------------------------------------------*/

/*--------------------------------------------------------------
|
| 3.1 360PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 22.5rem) {
  
  :root { --typography-h1: 1.406rem; }
  
  main {
    margin-left: auto;
    margin-right: auto;
    max-width: 20.4375rem;
    width: 100%;
  }
  
}

/*--------------------------------------------------------------
|
| 3.2 768PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 48rem) {
  
  main { grid-gap: 1rem; }
  
}

/*--------------------------------------------------------------
|
| 3.3 1024PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 64rem) {
  
  :root { --typography-h1: 1.563rem; }
  
  main { max-width: 22.5rem; }
  
}