/*--------------------------------------------------------------
TABLE OF CONTENT
----------------------------------------------------------------
1.0 FOUNDATION
|  1.1 BASE
|  1.2 TYPOGRAPHY
|  1.3 IMAGE
|  1.4 LAYOUT
2.0 HEADER
|  2.1 LOGO
|  2.2 SWITCHER
3.0 MAIN
|  3.1 SEARCH
|  3.1 NOTE
4.0 FOOTER
5.0 MEDIA
|  5.1 360PX
|  5.2 768PX
|  5.3 1024PX
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 FOUNDATION
--------------------------------------------------------------*/

:root {
  --brand-color    : #ff5500;
  
  --primary-color  : #ffffff;
  --secondary-color: #ffffff;
  --tertiary-color : #eaeaea;
  --primary-text   : #000000;
  --secondary-text : #959595;
  --tertiary-text  : #b1b1b1;
  --shadow-color   : rgba(0, 0, 0, .0375);
  
  --typography-p      : 1rem;
  --typography-small  : .8rem;
  --typography-smaller: .64rem;
  
  --container: 1.5rem;
}

.dark {
  --primary-color  : #101010;
  --secondary-color: #252525;
  --tertiary-color : #353535;
  --primary-text   : #f5f5f5;
  --secondary-text : #b1b1b1;
  --tertiary-text  : #757575;
  --shadow-color   : rgba(0, 0, 0, .25);
}

/*--------------------------------------------------------------
|
| 1.1 BASE
|
--------------------------------------------------------------*/

html { box-sizing: border-box; }

*,
*:before,
*:after { box-sizing: inherit; }

body {
  background: var(--primary-color);
  color: var(--primary-text);
  font-family: "Inter", sans-serif;
  font-size: var(--typography-p);
  font-weight: normal;
  line-height: 1.5;
  margin: 0 auto;
  transition: all 250ms ease;
}

/*--------------------------------------------------------------
|
| 1.2 TYPOGRAPHY
|
--------------------------------------------------------------*/

a {
  color: var(--brand-color);
  text-decoration: none;
}

p {
  margin-bottom: 0;
  margin-top: 0;
}

/*--------------------------------------------------------------
|
| 1.3 IMAGE
|
--------------------------------------------------------------*/

svg {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/*--------------------------------------------------------------
|
| 1.4 LAYOUT
|
--------------------------------------------------------------*/

.column {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto;
}

/*--------------------------------------------------------------
2.0 HEADER
--------------------------------------------------------------*/

/*--------------------------------------------------------------
|
| 2.1 LOGO
|
--------------------------------------------------------------*/

.logo { margin-right: auto; }

/*--------------------------------------------------------------
|
| 2.2 SWITCHER
|
--------------------------------------------------------------*/

button {
  appearance: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 0;
}

.icon-sun,
.dark .icon-moon { display: none; }

.dark .icon-sun { display: block; }

/*--------------------------------------------------------------
3.0 MAIN
--------------------------------------------------------------*/

main {
  align-items: center;
  display: grid;
}

/*--------------------------------------------------------------
|
| 3.1 SEARCH
|
--------------------------------------------------------------*/

input {
  background:
    var(--secondary-color)
    url(/images/icon-search.svg) no-repeat;
  background-position: 1rem center;
  border: .0625rem solid var(--secondary-color);
  border-radius: .25rem;
  box-shadow:
    0 0.0625rem 0 var(--shadow-color),
    0 0.125rem 0.375rem var(--shadow-color),
    0 0.5rem 0.625rem var(--shadow-color);
  color: inherit;
  display: block;
  font-family: inherit;
  font-size: var(--typography-p);
  line-height: 1;
  padding: .75rem 1rem .875rem 3rem;
  transition: all 250ms ease;
  width: 100%;
}

input:focus {
  border-color: var(--tertiary-color);
  outline: none;
}

input::placeholder { color: var(--tertiary-text); }

/*--------------------------------------------------------------
|
| 3.2 NOTE
|
--------------------------------------------------------------*/

.note {
  color: var(--secondary-text);
  font-size: var(--typography-small);
}

/*--------------------------------------------------------------
4.0 FOOTER
--------------------------------------------------------------*/

footer {
  color: var(--tertiary-text);
  font-size: var(--typography-smaller);
  line-height: 1;
  text-transform: uppercase;
}

/*--------------------------------------------------------------
5.0 MEDIA
--------------------------------------------------------------*/

/*--------------------------------------------------------------
|
| 5.1 360PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 22.5rem) {
  
  :root {
    --typography-p      : 1.125rem;
    --typography-small  : .9rem;
    --typography-smaller: .72rem;
  }
  
}

/*--------------------------------------------------------------
|
| 5.2 768PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 48rem) {
  
  :root { --container: 2.5rem; }
  
}

/*--------------------------------------------------------------
|
| 5.3 1024PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 64rem) {
  
  :root {
    --typography-p      : 1.25rem;
    --typography-small  : 1rem;
    --typography-smaller: .8rem;
  }
  
  a { transition: all 250ms ease; }
  
  a:hover { color: var(--primary-text); }
  
}