/*--------------------------------------------------------------
TABLE OF CONTENT
----------------------------------------------------------------
1.0 FOUNDATION
|  1.1 BASE
2.0 MAIN
|  2.1 SEARCH
|  2.2 NOTE
|  2.3 CARD
|  2.4 EMOJI
3.0 MEDIA
|  3.1 360PX
|  3.2 768PX
|  3.3 1024PX
|  3.4 1366PX
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 FOUNDATION
--------------------------------------------------------------*/

:root {
  --typography-h2: 1rem;
  
  --inside: 1.5rem;
}

/*--------------------------------------------------------------
|
| 1.1 TYPOGRAPHY
|
--------------------------------------------------------------*/

h2 {
  font-size: var(--typography-h2);
  line-height: 1.125;
  margin-bottom: .125rem;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*--------------------------------------------------------------
2.0 MAIN
--------------------------------------------------------------*/

main {
  grid-gap: 1rem;
  padding-bottom: var(--inside);
  padding-top: var(--inside);
}

/*--------------------------------------------------------------
|
| 2.1 SEARCH
|
--------------------------------------------------------------*/

form {
  position: sticky;
  top: 1.5rem;
}

/*--------------------------------------------------------------
|
| 2.2 NOTE
|
--------------------------------------------------------------*/

.note { text-align: center; }

/*--------------------------------------------------------------
|
| 2.3 CARD
|
--------------------------------------------------------------*/

section {
  display: grid;
  grid-gap: 1.5rem;
}

article {
  background: var(--secondary-color);
  border-radius: .25rem;
  box-shadow:
    0 0.0625rem 0 var(--shadow-color),
    0 0.125rem 0.375rem var(--shadow-color),
    0 0.5rem 0.625rem var(--shadow-color);
  display: grid;
  grid-gap: .625rem;
  padding: 1rem 1.125rem;
}

article p {
  color: var(--secondary-text);
  font-size: var(--typography-small);
}

article span {
  color: var(--primary-text);
  font-size: var(--typography-p);
  margin-right: .125rem;
}

.product { overflow: hidden; }

.nutrition {
  align-items: center;
  border: 0 solid var(--tertiary-color);
  border-bottom-width: .0625rem;
  border-top-width: .0625rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  line-height: 1.3125;
  padding-bottom: .5rem;
  padding-top: .5rem;
}

.calorie {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto;
  line-height: 1;
}

/*--------------------------------------------------------------
|
| 2.4 EMOJI
|
--------------------------------------------------------------*/

i {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 1rem 1rem;
  display: inline-block;
  margin: 0;
  height: 1rem;
  vertical-align: -.1rem;
  width: 1rem;
}

.emoji-fire {
  background-image: url(/images/emoji-fire.svg);
  margin-right: .25rem;
}

.emoji-shoe {
  background-image: url(/images/emoji-shoe.svg);
  margin-right: .3125rem;
}

/*--------------------------------------------------------------
3.0 MEDIA
--------------------------------------------------------------*/

/*--------------------------------------------------------------
|
| 3.1 360PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 22.5rem) {
  
  :root { --typography-h2: 1.125rem; }
  
}

/*--------------------------------------------------------------
|
| 3.2 768PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 48rem) {
  
  :root { --inside: 2.5rem; }
  
  section { grid-template-columns: repeat(2, 1fr); }
  
  article { padding: 1.25rem 1.5rem; }
    
  i {
    background-size: 1.125rem 1.125rem;
    height: 1.125rem;
    width: 1.125rem;
  }
  
}

/*--------------------------------------------------------------
|
| 3.3 1024PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 64rem) {
  
  :root { --typography-h2: 1.25rem; }
  
  main {
    grid-gap: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 64rem;
  }
  
  section { grid-template-columns: repeat(3, 1fr); }
  
  article p { font-size: var(--typography-smaller); }
  
}

/*--------------------------------------------------------------
|
| 3.4 1366PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 85.375rem) {
  
  :root { --inside: 7.5rem; }
  
}